In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
from sklearn import preprocessing, svm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import ExtraTreesRegressor
from sklearn import metrics

In [ ]:
path = '/content/drive/MyDrive/realest.csv'

In [ ]:
data_frame=pd.read_csv(path)
print(data_frame)

     Price  Bedroom   Space  Room   Lot     Tax  Bathroom  Garage  Condition
0     53.0      2.0   967.0   5.0  39.0   652.0       1.5     0.0        0.0
1     55.0      2.0   815.0   5.0  33.0  1000.0       1.0     2.0        1.0
2     56.0      3.0   900.0   5.0  35.0   897.0       1.5     1.0        0.0
3     58.0      3.0  1007.0   6.0  24.0   964.0       1.5     2.0        0.0
4     64.0      3.0  1100.0   7.0  50.0  1099.0       1.5     1.5        0.0
..     ...      ...     ...   ...   ...     ...       ...     ...        ...
152   44.0      3.0   820.0   5.0  27.0     NaN       1.0     0.0        1.0
153   43.0      2.0   593.0   4.0  30.0   465.0       2.0     1.0        0.0
154   53.0      3.0   716.0   6.0  30.0   585.0       1.0     2.0        1.0
155   62.0      4.0   951.0   7.0  30.0   895.0       2.0     1.0        0.0
156    NaN      NaN     NaN   NaN   NaN     NaN       NaN     NaN        NaN

[157 rows x 9 columns]

In [ ]:
data_frame.isna().sum()

Price         1
Bedroom       1
Space        11
Room          1
Lot          11
Tax          10
Bathroom      1
Garage        1
Condition     1
dtype: int64

In [ ]:
for column in data_frame.columns:
  if column in ["price","Bedroom","Room","Bathroom","Garage","Condition"]:
    data_frame[column] = data_frame[column].fillna(data_frame[column].median())
  else:
    data_frame[column] = data_frame[column].fillna(data_frame[column].mean())

In [ ]:
Bathroom=data_frame["Bathroom"]
#bt=data_frame[Bathroom]
Bedroom=data_frame['Bedroom']
#bd=data_frame[Bedroom]
dd=data_frame.loc[(data_frame['Bathroom']==2) and (data_frame['Bedroom']==4) ,'Tax']

In [ ]:
x=data_frame.describe().T
statistics_for_all= x.drop(columns=['count','25%','50%','75%'])
print(statistics_for_all)

                  mean         std    min     max
Price        56.474359   12.833974   32.0    90.0
Bedroom       3.165605    1.343775    1.0     8.0
Space      1097.246575  445.935096  539.0  2295.0
Room          6.496815    1.670345    4.0    12.0
Lot          32.808219    8.154215   24.0    50.0
Tax         911.707483  428.820987  418.0  2752.0
Bathroom      1.480892    0.527711    1.0     3.0
Garage        0.847134    0.805952    0.0     2.0
Condition     0.229299    0.421727    0.0     1.0

In [ ]:
X = data_frame.drop('Price', axis = 1)
y = data_frame['Price']

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [ ]:
from sklearn.linear_model import LinearRegression
lm=LinearRegression()
model=lm.fit(x_train,y_train)

In [ ]:
model_coef= model.coef_
print(model_coef)
intercept=model.intercept_
print(intercept)

[-2.66949903  0.00962575  1.99877361  0.11596629  0.0092059   5.28849861
  3.56305454  0.93885114]
18.357771545636787

In [ ]:
y_predict=model.predict(x_test)
print(y_predict)

[84.73928178 56.82012491 55.73662863 48.51571555 41.68139892 76.05319187
 59.30738453 47.92241316 65.10289171 61.57426643 53.54929092 59.5957063
 53.13365521 62.92550258 58.58776108 41.62742307 53.20660552 48.3425257
 82.39740443 65.50039784 45.82500084 84.68944293 86.62450786 60.53387168
 58.57697617 42.31744559 47.46911339 48.61207731 60.53266182 85.46825787
 60.07715389 55.16792633]

In [ ]:
mean_squared_error=metrics.mean_squared_error(y_test, y_predict)
mean_absolute_error=metrics.mean_absolute_error(y_test, y_predict)
print("mean_squared_error= ",mean_squared_error)
print("mean_absolute_error= ",mean_absolute_error)

mean_squared_error=  85.87458696750207
mean_absolute_error=  7.542737975624398

In [ ]:
print(model.predict([[3,1500,8,40,1000,2,1,0]]))

[68.76268307]

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [ ]:
score = model.score(x_test,y_test)
print(score)

0.5551889957371967